:root {
    --background-color: #121212;
    --card-color: #1E1E1E;
    --text-color: #E0E0E0;
    --accent-color: #BB86FC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}